<html ng-app="nameApp">
  <head>
    <meta charset="utf-8">
    <title>Angular.js Example</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular-route.min.js"></script>
    <script src="countryCtrl.js"></script>
    <script src="countryDir.js"></script>
    <script src="countryFac.js"></script>

    <script>
      var app = angular.module("nameApp", ['ngRoute', 'controllerModule', 'directiveModule', 'factoryModule']);
      app.controller("NameCtrl", function($scope) {
        $scope.firstName = 'Jon';
        $scope.$watch("lastName", function(newValue, oldValue) {
          console.log("new value is " + newValue);
        });
        setTimeout(function() {
          $scope.lastName = "Snow";
          $scope.$apply();
        }, 3000);
      });
      app.controller("RepeatCtrl", function($scope) {
        $scope.names = ["Larry", "Curly", "Moe"];
        
        $scope.addName = function() {
          $scope.names.push($scope.enteredName);
          $scope.enteredName = "";
        };
        $scope.removeName = function(nameToRemove) {
          var index = $scope.names.indexOf(nameToRemove);
          $scope.names.splice(index, 1);
        }
      });
      app.controller("CountryCtrl", ['$scope', '$http', function($scope, $http) {
        $http.get('all_country_info.json').success(function(data) {
          $scope.countries = data;
        });
        $scope.sortedField = "population";
        $scope.reverse = true;
      }]);
      app.config(function($routeProvider) {
        $routeProvider.
          when('/', {
            templateUrl: 'country-list.html',
            controller: 'CountryListCtrl'
          }).
          when('/:countryId', {
            templateUrl: 'country-detail.html',
            controller: 'CountryDetailCtrl'
          }).
          otherwise({
            redirectTo: '/'
          });
      });
      app.filter('encodeURI', function() {
        return window.encodeURI;
      });
});
    </script>
  </head>
  <body>
    <form id="input-names" ng-controller="NameCtrl">
      First name:<input ng-model="firstName" type="text"/>
      <br>
      Last name:<input ng-model="lastName" type="text"/>
      <br>
      Hello {{firstName}} {{lastName}}
    </form>
    <div id="add-remove" ng-controller="RepeatCtrl">
      <ul>
        <li ng-repeat="name in names">{{name}} <a href="" ng-click="removeName(name)">Remove</a></li>
      </ul>
      <form ng-submit="addName()">
        <input type="text" ng-model="enteredName"/>
        <input type="submit" value="add" />
      </form>
    </div>
    <div id="enumeration" ng-controller="CountryCtrl">
      Search: <input type="text" ng-model="query" />
      <table>
        <tr>
          <th ng-click="sortedField = 'name'; reverse = !reverse;">Country</th>
          <th ng-click="sortedField = 'population'; reverse = !reverse;">Population</th>
          <th>Flag</th>
          <th>Capital</th>
          <th><a href="http://en.wikipedia.org/wiki/List_of_countries_by_GDP_(PPP)">GDP (PPP)</a></th>
        </tr>
        <tr ng-repeat="country in countries | filter:query | orderBy:sortedField:reverse">
          <td>{{country.name}}</td>
          <td>{{country.population | number}}</td>
          <td><img ng-src={{country.flagURL}} width="100"/></td>
          <td>{{country.capital}}</td>
          <td>{{country.gdp | currency}}</td>
        </tr>
      </table>
    </div>
    <div id="route" ng-view>
      
    </div>
  </body>
</html>